#container{
	width: 320px;
	margin:auto;
}
#footer{
	border-top: 1px black solid;
	margin-top: 1px;
}
h1{
	font-size: 3em;
	color: blue;
	text-align: center;
}
h2{
	font-size: 1.5em;
	color: blue;
	text-align: center;
}
.caption{
	font-size: .8em;
	text-align: center;
}

#main{
	margin:2px;
	margin-top:0px;
	padding:5px;
}
label{
	font-weight: bold;
}
.required{
	color: red;
	font-weight: bold;
}
form{
	text-align: center;
}
